<h1>Pessoinha</h1>

<!--
<div>
  <a [routerLink]="[ '/tipo-produto/create' ]">[Form] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-produto' ]">[List] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/input' ]">[Input] Decorator</a>
</div>
<div>
    <a [routerLink]="[ '/reactive' ]">[Forms] Reactive forms</a>
</div>

<div>
  <a [routerLink]="[ '/tipopessoa' ]">[List]Pessoa lista</a>
</div>

<div>
  <a [routerLink]="[ '/tipopessoa/insert' ]">[Form]Pessoa create</a>
</div>


COMEÇAR A RESOLVER O FRONT


-->



<router-outlet></router-outlet>
