<form [formGroup]="personForm" (ngSubmit)="onSubmit()">

    <div>
        <input type="text" placeholder="nome" formControlName="nome">
    </div>

    <div>
        <input type="text" placeholder="email" formControlName="email">
    </div>

    <div>
        <input type="text" placeholder="cpf" formControlName="cpf">
    </div>

    <div formGroupName = "enderecoDTO">

        <div>
            <input type="text" placeholder="cep" formControlName="cep">
        </div>

        <div>
            <input type="text" placeholder="logradouro" formControlName="logradouro">
        </div>

        <div>
            <input type="text" placeholder="numero" formControlName="numero">
        </div>

        <div>
            <input type="text" placeholder="complemento" formControlName="complemento">
        </div>

        <div>
            <input type="text" placeholder="bairro" formControlName="bairro">
        </div>

        <div>
            <input type="text" placeholder="cidade" formControlName="cidade">
        </div>

        <div>
            <input type="text" placeholder="uf" formControlName="uf">
        </div>

    </div>

    <button type="submit">cadastrar</button>

</form>